
{% extends "base.html" %}
{% block content %}
<header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="area_logo">
    <h2>{{ area_name }}</h2>
    <div class="buttons">
        <button id="logout" name="logout" class="area_btn" type="button">Logout</button>
        <button id="leave" name="leave" class="area_btn" type="button">Leave</button>
    </div>
</header>
<div class="content">
    <div class= "chat">
        <div class="chat-box" id="chat-box">

        </div>
        <div class="chat-input">
            <input type="text" rows="3" id="message" name="message" placeholder="Type a message...">
            <button id="send" name="send" class="send_btn" onClick="sendMessage()">Send</button>
        </div>
</div>
<script>
    var socketio = io()
             const sendMessage = () => {
                 console.log("Sending message");
             }
</script>
{% endblock %}