{% extends "base.html" %}
{% block content %}

<h3 class="title">Create Area</h3>

<form method="post" class="forms">
    <div>
        <label for="area_id">Area ID:</label>
        <input type="text" id="area_id"
        placeholder="Enter Area ID"
        name="area_id" value="{{ area_id }}">
    </div>
    <div>
        <label for="area_name">Area Name:</label>
        <input type="text" id="area_name"
        placeholder="Enter Area Name"
        name="area_name" value="{{ area_name }}">
    </div>
    <div class="area_size">
        <label for="area_size">Area Size:</label>
        <div class="buttons">
            <button type="button" name="area_size" value="10" onclick="selectButton(this)" class="area_btn">10</button>
            <button type="button" name="area_size" value="20" onclick="selectButton(this)" class="area_btn">20</button>
            <button type="button" name="area_size" value="30" onclick="selectButton(this)" class="area_btn">30</button>
            <input type="hidden" id="selected_area_size" name="area_size" value="">
        </div>
    </div>
    <div class="buttons">
        <button type="button" name="cancel" class="btn" onclick="history.back()">Cancel</button>
        <button type="submit" name="create" class="btn">Create</button>
    </div>
</form>

<script>
    function selectButton(button) {
        var buttons = document.querySelectorAll('.area_btn');
        buttons.forEach(function(btn) {
            btn.classList.remove('selected');
        });
        button.classList.add('selected');
        document.getElementById('selected_area_size').value = button.value;
    }
</script>

{% endblock %}