{% extends "base.html" %}
{% block content %}

<header>
    <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo" class="logo">
</header>

<h1 class="title">Join Area</h1>
<h1 class="greeting">Welcome, {{username}}</h1>

<form method="post" class="forms">
    <div>
        <label for="area_id">Area ID:</label>
        <input type="text" id="area_id"
        placeholder="Enter Area ID"
        name="area_id" value="{{area_id}}">
    </div>
    <div class="buttons">
        <button type="submit" name="create" class="btn">Create</button>
        <button type="submit" name="join" class="btn">Join</button>
    </div>
</form>
{% endblock %}